.sidebar__box {
  position: sticky;
  top: 0;
  flex: 0 0 30%;
  background-color: #fefefe;
  padding: 20px 20px 0 20px;
  margin-right: 20px;
  height: 100%;
}

.sidebar__box .box__item {
  position: relative;
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 40px 5px;
  color: #888;
  border-bottom: 1px solid #e6e6e6;
}

.sidebar__box .box__item:last-child {
  border-bottom: 0px;
}

.sidebar__box .box__item p {
  font-size: 80%;
  flex: 1;
}

.sidebar__box .header {
  padding: 10px 0px;
}

.sidebar__box .header p span {
  font-size: 35px;
  font-weight: 600;
  margin-right: 5px;
}

.sidebar__box .range-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0%;
  top: 20px;
}
