.booking-frequency__type {
  font-size: 120%;
  letter-spacing: 1px;
  line-height: 150%;
  text-transform: capitalize;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px;
}
