.section__how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.how-it-works__box {
  display: flex;
  text-align: center;
}

.how-it-works__step p {
  font-size: 90%;
  line-height: 135%;
}
