.password {
  background-image: url("../../img/icon--password-e529bc5821bcf2bb2bf9c86758a3a3f5239ab07e94a1dfb24ba8581d2dc6f66b.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 90%;
}
