.modal__info .form__box {
  width: 100%;
  flex: 1;
  padding: 30px 20px;
}

.modal__info .form__btn,
.modal__info .form__box .form__textarea {
  margin-bottom: 10px;
}

.modal__info .form__btn:last-child {
  margin-bottom: 0px;
}

.modal__info .form__box fieldset {
  background-color: transparent;
  margin-bottom: 10px;
  padding: 0px;
  flex: 0;
}

.modal__info .form__box .btn-action {
  width: 100%;
  border-radius: 5px;
}
