.contact {
  background-image: url("../../img/icon--email-6396ccb0be8a549e2cdf80eb79f182ba6dae4c55feed499b6c33c5efff814d71.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 90%;
}
